name: Release

on:
  push:

permissions:
  contents: write

jobs:
  check:
    runs-on: ubuntu-24.04-arm
    steps:
      - uses: earthbuild/actions-setup@main
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
      - name: Check
        run: earthly --ci +check
